.header-container {
    display: flex;
    margin: 0 40px;
}

.header-container .logo-container {
    width: 50%;
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 20px
}

.header-container .menu-container {
    width: 50%;
    margin: auto;
    justify-content: right;
    display: flex;
}

.header-container .menu-container li {
    font-size: 30px;
}

.header-container .menu-container ul {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 30px;
    list-style: none;
}

.header-container svg {
    max-height: 50px;
}