.container {
    height: 100vh;
}

.planet-title h1 {
    font-size: 90px;
}

.planet-image {
    margin: auto;
    max-width: 500px;
}

.planet-image img {
    width: 100%;
}

.planet-desc {
    padding: 0 40px;
    margin: 60px 0;
    font-size: 25px;
}